@import "tailwindcss/theme";

@theme {
  --color-background: #FFFFFF;
  --color-foreground: #000000;
  --color-card: #FFFFFF;
  --color-card-foreground: #000000;
  --color-popover: #5d5a60;
  --color-popover-foreground: #FFFFFF;
  --color-primary: #0284C7;
  --color-primary-foreground: #000000;
  --color-secondary: #EBF6FD;
  --color-secondary-foreground: #000000;
  --color-muted: #F1F5F9;
  --color-muted-foreground: #64748B;
  --color-accent: #F1F5F9;
  --color-accent-foreground: #0F172A;
  --color-destructive: #ED0C0C;
  --color-destructive-foreground: #FFFFFF;
  --color-border: #E2E8F0;
  --color-input: #E2E8F0;
  --color-ring: #7DD3FC;
  --radius: 0.5rem;
}

@theme dark {
  --color-background: #2E1A51;
  --color-foreground: #FFFFFF;
  --color-card: #ECE4FB;
  --color-card-foreground: #000000;
  --color-popover: #F0EEF2;
  --color-popover-foreground: #000000;
  --color-primary: #8B5CF6;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #ECE4FB;
  --color-secondary-foreground: #000000;
  --color-tertiary: #E1F1FB;
  --color-tertiary-foreground: #000000;
  --color-muted: #334155;
  --color-muted-foreground: #94A3B8;
  --color-accent: #334155;
  --color-accent-foreground: #FFFFFF;
  --color-destructive: #ED0C0C;
  --color-destructive-foreground: #FFFFFF;
  --color-border: #334155;
  --color-input: #334155;
  --color-ring: #A78BFA;
}

@layer base {
  * {
    border-color: theme(--color-border);
  }
  body {
    background-color: theme(--color-background);
    color: theme(--color-foreground);
  }
}

.custom-audio-player {
  background-color: theme(--color-secondary);
  filter: none !important;
  color: inherit;
  border: none;
  box-shadow: none;
}

.custom-audio-player::-webkit-media-controls-panel,
.custom-audio-player::-webkit-media-controls-enclosure,
.custom-audio-player::-webkit-media-controls-background,
.custom-audio-player::-webkit-media-controls-play-button,
.custom-audio-player::-webkit-media-controls-current-time-display,
.custom-audio-player::-webkit-media-controls-time-remaining-display,
.custom-audio-player::-webkit-media-controls-timeline,
.custom-audio-player::-webkit-media-controls-volume-slider-container,
.custom-audio-player::-webkit-media-controls-volume-slider,
.custom-audio-player::-webkit-media-controls-mute-button {
  background-color: transparent !important;
  filter: none !important;
}