@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #000000;
    --card: #FFFFFF;
    --card-foreground: #000000;
    --popover: #5d5a60;
    --popover-foreground: #FFFFFF;
    --primary: #0284C7;
    --primary-foreground: #000000;
    --secondary: #EBF6FD;
    --secondary-foreground: #000000;
    --muted: #F1F5F9;
    --muted-foreground: #64748B;
    --accent: #F1F5F9;
    --accent-foreground: #0F172A;
    --destructive: #ED0C0C;
    --destructive-foreground: #FFFFFF;
    --border: #E2E8F0;
    --input: #E2E8F0;
    --ring: #7DD3FC;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: #2E1A51;
    --foreground: #FFFFFF;
    --card: #ECE4FB;
    --card-foreground: #000000;
    --popover: #F0EEF2;
    --popover-foreground: #000000;
    --primary: #8B5CF6;
    --primary-foreground: #FFFFFF;
    --secondary: #ECE4FB;
    --secondary-foreground: #000000;
    --tertiary: #E1F1FB;
    --tertiary-foreground: #000000;
    --muted: #334155;
    --muted-foreground: #94A3B8;
    --accent: #334155;
    --accent-foreground: #FFFFFF;
    --destructive: #ED0C0C;
    --destructive-foreground: #FFFFFF;
    --border: #334155;
    --input: #334155;
    --ring: #A78BFA;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.custom-audio-player {
  background-color: var(--secondary);
  filter: none !important;
  color: inherit;
  border: none;
  box-shadow: none;
}

.custom-audio-player::-webkit-media-controls-panel,
.custom-audio-player::-webkit-media-controls-enclosure,
.custom-audio-player::-webkit-media-controls-background,
.custom-audio-player::-webkit-media-controls-play-button,
.custom-audio-player::-webkit-media-controls-current-time-display,
.custom-audio-player::-webkit-media-controls-time-remaining-display,
.custom-audio-player::-webkit-media-controls-timeline,
.custom-audio-player::-webkit-media-controls-volume-slider-container,
.custom-audio-player::-webkit-media-controls-volume-slider,
.custom-audio-player::-webkit-media-controls-mute-button {
  background-color: transparent !important;
  filter: none !important;
}